body {
    background-color: #F7F7FF;
}

header {
    font-size: 30px;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    background-color: #495867;
}

header h1 {
    color: #F7F7FF;
    padding: 0px 10px 0px 40px;
    background-color: #577399;
}

nav {
    padding: 3px;
}

nav a {
   color: #bdd5ea;
   text-decoration: none;
   border-bottom: 5px solid;
}

#splash {
    padding: 100px 0px 100px 0px;
    background-image: url("./robert-pricop-tdvN7FJ0eIs-unsplash.jpg") ;
    background-size: cover;
    background-position-y: center;
}

#splash h2 {
    color: #F7F7FF;
    padding: 10px;
    background-color: #577399;
    position: absolute;
    right: 20px;
}


.content {
    width: auto;
    margin: 0 auto;
    max-width: 100%;
    padding: 1em;
    border-radius: 3px;
    font-size: large;
}

.row {
    display: flex;
    padding: 1em;
    border-radius: 3px;

}

.row h2 {
    font-size: 30px;
    padding: 1em;
    border-right: 5px solid darkblue;
}

.row p {
    padding: 0.5em;
}

#workgrid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
}

#gridbox {
    padding: 1em;
}

#contact li {
    display: inline-block;
    padding: 1em;
    color: #bdd5ea;
    border-bottom: 5px solid;
    text-decoration: none;
}

footer {
    text-align: center;
}
/* build work elements using box css timeline */
/* footer css element */
/* linear gradient css property */

/* to do: css animations, dark mode palette switch */